body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #6a5ef4;
}

header {
    background: #334de0;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

article {
    background: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article header h2 {
    margin-top: 0;
}



table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background: #f4f4f4;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    background: #6a5ef49d;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
@media (max-width: 768px) {
    header nav a {
        display: block;
        margin: 10px 0;
    }

    table {
        width: 100%;
    }

    table img {
        width: 100%;
        height: auto;
    }

    iframe {
        width: 100%;
        height: auto;
    }

    figure {
        display: block;
        width: 100%;
    }

    figure img {
        width: 100%;
        height: auto;
    }
}